.html{
    height: 100%;
    width: 100%;

}
body {
    margin: 0;
}
.page-1{
    background-color: #0A373B;
    height: 600px;
}
.header {
    display:grid;
    padding-top: 145px;
    padding-left: 100px;

}
.sm-title {
    color: #D4AC6F;
    text-transform: uppercase;
    font-family: "Mulish", sans-serif;
    font-size: 14px;

}
.lar-title {
    color: #D4AC6F;
    font-size: 60px;
    font-family: "Alice", serif;
    margin-left: 30px;
}
.div-3 {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
}
.description{
    color: #D4AC6F;
    font-size: 13px;
    margin-top: 60px; 
    line-height: 17px ;  

}
.img1 {
    border-radius: 50px;
    width: 300px;
    height: 200px;
    object-fit: cover;  
}
.img2 {
    border-radius: 400px 0px 0px 60px;
    position: relative;
    bottom: 345px;
}