.html{
    height: 100%;
    width: 100%;

}
body {
    margin: 0;
}
.page-1{
    background-color: #0A373B;
    height: 600px;
}
.header {
    display:grid;
    padding-top: 145px;
    padding-left: 100px;

}
.sm-title {
    color: #D4AC6F;
    text-transform: uppercase;
    font-family: "Mulish", sans-serif;
    font-size: 14px;

}
.lar-title {
    color: #D4AC6F;
    font-size: 60px;
    font-family: "Alice", serif;
    margin-left: 30px;
}
.div-3 {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
}
.description{
    color: #D4AC6F;
    font-size: 13px;
    margin-top: 60px; 
    line-height: 17px ;  

}
.img1 {
    border-radius: 50px;
    width: 300px;
    height: 200px;
    object-fit: cover;  
}
.img2 {
    border-radius: 400px 0px 0px 60px;
    position: relative;
    bottom: 345px;
}
.page-2 {
    display: flex;
    justify-content: space-between;
    background-color: #EFE7DF;
    height: 500px;
    

}
.header-2    {
    display: grid;
    position: relative;
    left:90px;

}
.title-2 {
    color :#B2966C;
    font-size: 30px;
    font-family: "Alice", serif;
    padding-top: 150px;
    


}
.des-2 {
    color:#0A373B;
    font-size: 14px;

}
.btn-2 {
    border:none;
    background-color:#D4AC6F;
    border-radius: 20px;
    color: aliceblue;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}
.img3 {
    width: 300px;
    border-radius: 130px 130px 0px 0px;
    position: relative;
    right: 70px;
    height: 400px;
    object-fit: cover;
    top:50px
}
.page-3 {
    background-color: #0A373B;
    height: 600px;
}
.span-1 {
    color:#D4AC6F;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}
.pic-all {
    display: flex;
    justify-content: space-between;
}
.pic-1 {
    display: grid; 
    padding-left:80px;
}
.img4 {
    border-radius: 170px 170px 170px 170px;
    width:350px;
}
.span-2 {
    color: #D4AC6F;
    text-align: center;
}
.pic-2 {
    display: grid; 
}
.img5 {
    border-radius: 170px 170px 170px 170px;
    width:350px;
}
.span-3 {
    color: #D4AC6F;
    text-align: center;
}
.pic-3 {
    display: grid; 
    padding-right: 80px;
}
.img6 {
    border-radius: 170px 170px 170px 170px;
    width:350px;
}
.span-4 {
    color: #D4AC6F;
    text-align: center;
}
.page-4 {
    background-color: #EFE7DF;
    height: 600px;
}
.title-4 {
    margin: 0;
    text-align: center;
    padding-top: 130px  ;
    color:#D4AC6F;
    padding-bottom: 100px;
}
.review-all {
    display: flex;
    justify-content: space-between;
}
.r-1 {
    padding-left: 80px;

}
.name-r {
    color:#D4AC6F;
    margin-bottom: 20px;
}
.r2-des {
    color: #0A373B;
}
.name2-r {
    color:#D4AC6F;
    margin-bottom: 20px;
}
.r-3{
    padding-right: 80px;
}
.r3-des {
    color: #0A373B;

}
.name3-r {
    color:#D4AC6F;
    margin-bottom: 20px;
}
